@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site__title {
  /* color: white; */
  color: #35fbbb;
  text-shadow: 0 2px 4px black;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 72px;
  text-align: center;
  padding-top: 10.15rem;
  padding-bottom: 0;
  margin-bottom: 0;
  letter-spacing: -.333rem;
}

.site__title_periwinkle {
  color: #8889ff;
}

.site__subtitle {
  color: white;
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0;
  margin-top: 0;
  font-family: "Raleway", "Helvetica Neue LT", "Hiragino Kaku Gothic Pro", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-weight: 600;
  text-shadow: 0 2px 4px black;
  letter-spacing: .444rem;
}

.sub_heading {
  font-size: 32px;
  font-family: "Raleway", "Helvetica Neue LT", "Hiragino Kaku Gothic Pro", "Helvetica", "Tahoma", "Arial", sans-serif;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.orange_text {
  color: #ff6500 !important;
}

.lead {
  font-size: 1.555rem !important;
}

.navbar {
  font-size: 1.355rem !important;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding-top: .6255rem;
  font-size: 1.155rem !important;
}

.navbar-brand {
  font-size: 1.355rem !important;
}



.exact_subtitle {
  margin-left: 25%;
  margin-right: 25%;
}

.logo_mark__container {
  padding-top:0;
  margin-top: 0 !important;
  height: 500px;
  max-height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}